<h1>Controle de Cargas</h1>
<br/>
<p><%= link_to 'Novo registro', new_redespacho_path, :class => 'btn btn-success'  %></p>
<br/>

<%= render 'registros' %>

<div class="edit_area">
	<%=
	 #render 'form' 
	 
	%>
</div>
