
	<% valores = {:frete => 0.00,:redespacho => 0.00, :comissao => 0.00, :peso => 0.00, :volume => 0.00} %>
	<%= define_grid(@registros) do |g|
		g.row_attributes do |tr|
			#{class: tr.status == 'AND' ? 'warning' : 'success'}
			case tr.status
				when 'AND'
				{class: 'warning'}
			when 'FIN'
				{class: 'success'}
			when
				{class: 'active'}
			end
		end
		g.blank_slate  do
	    	content_tag :div, "Nenhum registro encontrado", class: 'well'
	  	end
	  	g.column name: 'Código', attribute: 'id', 
	  		custom_filter: Redespacho.all.map{|red| [red.id]}, detach_with_id: :id_filter do |registro|
	  		registro.id	
	  	end
		g.column name: 'Fornecedor', attribute: 'fornecedor_id', 
				custom_filter: Fornecedor.all.map{|emp| [emp.nome, emp.id]}, detach_with_id: :fornecedor_filter do |registro|
			registro.fornecedor.nome if registro.fornecedor
		end
		g.column name: 'Status', attribute: 'status', custom_filter: [['Andamento', 'AND'], ['Finalizado','FIN'],['Não definido','null']], detach_with_id: :status_filter do |registro|
			registro.status == 'AND' ? 'Andamento' : 'Finalizado' if !registro.status.nil?
		end
		g.column name: 'Tipo', attribute: 'tipo_redespacho', filter: false do |registro|
			if !registro.tipo_redespacho.nil?
				case registro.tipo_redespacho
				when 'ENT'
					'Entrega'
				when 'COL'
					'Coleta'
				when 'RED'
					'Redespacho'
				when 'OUT'
					'Outros'
				else
					''
				end
			end
		end
		
		g.column name: 'Remetente', attribute: 'remetente', detach_with_id: :remetente_filter
		g.column name: 'Cidade do remetente', attribute: 'remetente_cidade', detach_with_id: :remetente_cidade_filter
		g.column name: 'Destinatario', attribute: 'destinatario', detach_with_id: :destinatario_filter
		g.column name: 'Destinatario - Cidade', attribute: 'destinatario_cidade', detach_with_id: :destinatario_cidade_filter
		g.column name: 'Valor do frete', attribute: 'valor_frete', filter: false do |registro|
			valores[:frete] = valores[:frete] + registro.valor_frete if registro.valor_frete 		 	
		 	'R$' + registro.valor_frete.to_s if registro.valor_frete
		end
		g.column name: 'Valor a pagar', attribute: 'valor_redespacho', filter: false do |registro| 
		 	valores[:redespacho] = valores[:redespacho] + registro.valor_redespacho if registro.valor_redespacho
			'R$' + registro.valor_redespacho.to_s if registro.valor_redespacho
		end
		g.column name: 'Valor a receber', attribute: 'valor_comissao', filter: false do |registro| 
		 	valores[:comissao] = valores[:comissao] + registro.valor_comissao if registro.valor_comissao
		 	'R$' + registro.valor_comissao.to_s if registro.valor_comissao
		end	
		g.column name: 'Forma de pagamento', attribute: 'forma_pagamento', filter: false
		g.column name: 'Quantidade (Volume)', attribute: 'volume', filter: false do |registro|
			valores[:volume] = valores[:volume] + registro.volume if registro.volume
			registro.volume
		end
		g.column name: 'Peso', attribute: 'peso', filter: false do |registro|
			valores[:peso] = valores[:peso] + registro.peso if registro.peso
			registro.peso.to_s + 'Kg' if registro.peso
		end
		#g.column name: 'Fornecedor', attribute: ''
		g.column name: 'NF Valor', attribute: 'nf_valor', filter: false do |registro|
		  'R$' + registro.nf_valor.to_s if registro.nf_valor
		end
		#g.column name: 'NF Número', attribute: 'nf_numero'
		g.column name: 'Data de envio', attribute: 'data_envio', detach_with_id: :data_envio do |registro|
			registro.data_envio.strftime('%d/%m/%Y') if !registro.data_envio.nil?
		end
		g.column name: 'Data de entrega', attribute: 'data_entrega', detach_with_id: :data_entrega do |registro|
			registro.data_entrega.strftime('%d/%m/%Y') if !registro.data_entrega.nil?
		end
		#g.column name: 'Recebido por', attribute: 'recebido_por'
		#g.column name: 'Jadlog Numero Lista', attribute: 'jadlog_lista_numero'
		#g.column name: 'Jadlog Número de conhecimento', attribute: 'jadlog_conhecimento_numero'
		g.last_row do |number_of_columns|         # This row will always be added to the bottom of the grid
		    content_tag(:tr,
		    	content_tag(:td, 'Total',:colspan => 8) +
		      	content_tag(:td, 'R$' + number_with_delimiter(number_with_precision(valores[:frete].to_s, precision: 2))) +
		      	content_tag(:td, 'R$' + number_with_delimiter(number_with_precision(valores[:redespacho].to_s, precision: 2))) +
		      	content_tag(:td, 'R$' + number_with_delimiter(number_with_precision(valores[:comissao].to_s, precision: 2))) +
		      	content_tag(:td, '') +
		      	content_tag(:td, number_with_delimiter(valores[:volume].to_s) + ' un.') +
		      	content_tag(:td, number_with_delimiter(valores[:peso].to_s) + 'Kg') +
		      	content_tag(:td, '', :colspan => 3),
		     :class => 'last_row')
		  end
    end %>
<p>Id dos registros da pagina</p>
<% @registros.current_page_records.each do |a| %>
	<span>ID: <%= a.id %></span>&nbsp;
<% end %>