<%= javascript_include_tag 'fornecedores' %>

<section class="content-header">
	Empresas           
</section>
<section class="content">
	<h4 class="page-header">
        Gerenciar fornecedores
        <small>Aqui você tem acesso a todas os fornecedores, o <code>Fornecedores</code>são empresas que utilizam o serviço de entrega, para editar clique duas vezes sobre um campo, ele irá salvar quando voce apertar <code>Enter</code></small>
    </h4>
	
	<div id="grid_empresas">
		
	</div>
	
	<div id='nova_empresa_window' class="jqx-widget-content, jqx-input, jqx-widget, jqx-rc-all">
		<%= render 'form' %>
	</div>
</section>
